body {
    height: 100vh; 
    width: 100vw;
    background-image: url(../image/login_background.jfif);
    opacity: 0.9;
}
a {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1f1c1c;
}
#description_login{
    color:rgb(109, 107, 106);
    text-align: center;
}
#become_back {
    width: 100px;
    height: 60px;
    text-align: center;
}

form  {
background: linear-gradient(
    180deg,
    rgba(229, 245, 255, 0.2) 0%,
    rgba(242, 248, 252, 0.2) 60%,
    rgba(255, 255, 255, 0.2) 100%
);
    margin: 150px;
    border : 1px rgb(77, 74, 74) solid;
    border-radius: 2dvh;
    display: flex;
    padding : 20px;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;    
    gap: 10px; 
}

input:not(#remember_me)  {
    width: 350px;
    height: 30px;
    border : 1px rgb(77, 74, 74) solid;
    border-radius: 2dvh;
}

#rem {
    gap: 50px;
    display: flex;
    justify-content: space-between;
}
button{
    width: 250px;
    height: 30px;
    border : 1px rgb(77, 74, 74) solid;
    border-radius: 2dvh;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
